VITE_SUPABASE_URL=https://jljzebkjpvwgmcwoypvs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpsanplYmtqcHZ3Z21jd295cHZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NzM0ODksImV4cCI6MjA5MTE0OTQ4OX0.CRjk_gfGNc9trp85FlX57C0EOXsIYpYupvxQpEnfTcY
VITE_SUPABASE_TABLE=booking_requests
